<section class="container">
    <div class="file_container">
        <input type="file" name="data" id="data" (change)="redCsv($event)">
    </div>
    <section class="container_stats">
        <section class="more">
            <h3>Estado con mayor tasa de mortalidad </h3>
            <div>
                Nombre: {{ maxTotalDeaths.state }}
            </div>
            <div>
                Muertes: {{ maxTotalDeaths.value }}
            </div>
        </section>
        <section class="less">
            <h3>Estado con menor tasa de mortalidad </h3>
            <div>
                Nombre: {{ minTotalDeaths.state }}
            </div>
            <div>
                Muertes: {{ minTotalDeaths.value }}
            </div>
        </section>
        <section class="most_affected">
            <h3>Estado más afectado según su tasa de mortalidad</h3>
            <div>
                Nombre: {{ populationMod.state }}
            </div>
            <div>
                Muertes: {{ populationMod.total.toFixed(2) }} % de tasa de mortalidad
            </div>
        </section>
        <section class="deaths_and_poblation">
            <h3>Gráfico de mortalidad</h3>
            <app-pie-chart [label]="labelsData" [values]="valuesDataPie"></app-pie-chart>
        </section>
    </section>
</section>