<section class="container">
    <div class="file_container">
        <input
            type="file"
            name="data"
            id="data"
            (change)="redCsv($event)"
        >
    </div>
    <section class="container_stats">
        <section class="more">
            Estado con mayor
        </section>
        <section class="less">
            Estado con menor
        </section>
        <section class="most_affected">
            Estado más afectado
        </section>
        <section class="deaths_and_poblation">
            Grafica de muertes y poblacion
        </section>
    </section>
</section>